<div class="card">
  <h5 class="card-header">Sala de Chat</h5>
  <div class="card-body">
    <ul class="list-group list-group-flush"></ul>
    @for (mensaje of mensajes; track mensaje) {
    <li class="list-group-item" [ngStyle]="{ color: mensaje.user.color }">
      {{ mensaje.mensaje }}
    </li>
    }
    <div class="d-flex">
      @for (u of users; track u) {
      <div class="flex-fill p-2">
        <app-mensaje-usuario
          [user]="u"
          (mensajeListo)="nuevoMensaje($event)"
        ></app-mensaje-usuario>
      </div>
      }
    </div>
  </div>
</div>
